
.navbar-inverse {
    background-color: #fff;
    border-color: #ffffff;

}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover 
{
    color: #060606;
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a 
{
    color: #090909;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover
{
    color: #0c4ad4;
    background-color: transparent;
}
.container{
    border: 2px solid rgb(53, 53, 247);
    border-radius: 30px;
    background-color: #1058f5db;
    color: white;
    width: 50%;
    height: 50%;
    padding-right: auto;
    
    
    
    
}
.row{
    text-align: center;
 
 
}
a{
  
    color: white;
}
    